@font-face {
  font-family: "YoonChildfundkoreaManSeh";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "YoonChildfundkoreaManSeh" !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
  font-size: 18px;
}
body {
  margin: 30px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}
